<!DOCTYPE>
<html>
	<header>
		<title>GreenUs</title>
		<link href="css/info-2.css" rel="stylesheet">
		<link href="css/panel.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
		<link href="css/loader.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</header>

	<body>
		<!-- Panel -->
		<div id="panel">
			<div class="icon"><a href="profile.html"><img src="images/avatar.jpg"></a></div>
			<div class="icon"><a href="/collection"><img src="images/icons/garden.png"></a></div>
			<div class="icon"><a href="/dictionary"><img src="images/icons/dictionary.png"></a></div>
			<div class="icon"><a href="weather.html"><img src="images/icons/weather.png"></a></div>
			<div class="icon"><a href="news.html"><img src="images/news.png"></a></div>
		</div>


		<div id="loader"></div>

		<div id="content">
			<a href="/african-lily"><img src="images/up-arrow.png" id="up_arrow"></a>
			<div class="column">
				<div id="planting">
					<img src="images/icons/planting.png">
					<div onclick="open_modal('planting_modal',0)">Planting</div>
				</div>

				<div id="watering">
					<img src="images/icons/watering.png">
					<div onclick="open_modal('watering_modal',1)">Watering</div>
				</div>

				<div id="sun_req">
					<img src="images/icons/weather.png">
					<div onclick="open_modal('sun_req_modal',2)">Sun requirement</div>
				</div>
			</div>

			<div class="column">
				<div id="pruning">
					<img src="images/icons/pruning.png">
					<div onclick="open_modal('pruning_modal',3)">Pruning and Training</div>
				</div>

				<div id="propagating">
					<img src="images/icons/propagating.png">
					<div onclick="open_modal('propagating_modal',4)">Propagating</div>
				</div>

				<div id="problem">
					<img src="images/icons/problems.png">
					<div onclick="open_modal('problem_modal',5)">Problems</div>
				</div>
			</div>

			<!-- Modal -->
			<div id="planting_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Planting</h1>
					<p>In the border, ideally plant your agapanthus in spring. If they are growing in containers, plant them the same depth that they are in the pot. If you have bought bulbs or fleshy rhizomes, the noses should be covered with 5cm (2in) of soil. ​If your soil is prone to waterlogging, or you live in a cold area, grow agapanthus in containers. In the containers, grow single plants in 20-23cm (8-9in) in diameter containers using a loam-based compost, such as John Innes No. 2 or No. 3. All container plants (hardy or tender) benefit from some winter protection (see Overwintering below).</p>
				  </div>

			</div>

			<div id="watering_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Watering</h1>
					<p>Regularly in the growing season, little watering once established</p>
				  </div>

			</div>

			<div id="sun_req_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Sun Requirements</h1>
					<p>Full Sun</p>
				  </div>

			</div>

			<div id="pruning_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Pruning and Training</h1>
					<p>1. Cut off the old flower spikes after the flowers fade and before they begin to dry and set seeds. Snip through the stem with shears near its base, where it emerges from the plant.<br>2. Prune out dead or damaged leaves at any time with clean shears. Remove the leaves at their base and discard or compost them.<br>3. Prune back deciduous varieties to within 4 inches of the ground after the foliage dies back naturally in fall. Evergreen varieties don't require cutting back.<br>4. Trim the foliage of both evergreen and deciduous varieties down to half the plant's height every four to six years in the fall in preparation for division. Dig up the roots with a trowel, taking care not to damage them. Cut the roots into three pieces with a knife, ensuring that each piece contains both leaves and roots. Replant the divided roots with the top 1/2-inch deep and space them 12 inches apart in all directions.</p>
				  </div>

			</div>

			<div id="propagating_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Propagating</h1>
					<p>Once plants have established between three and five years, they will be ready to be dug up and divided into smaller clumps. This is the best way to make more plants of a cultivar as all the new clumps will be exactly the same. Agapanthus can also be propagated from seed, however the resulting plants will be different from their parents. In fact each one will be unique, so you might get a gem among the seedlings.</p>
				  </div>

			</div>

			<div id="problem_modal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h1>Problems</h1>
					<p>It is naturally disappointing when agapanthus don't flower well. It's quite a common problem, however, and thankfully one that can be resolved.\n\nTo ensure a good display next year, keep plants well-watered until autumn after flowers start to fade, which will encourage the development of new flower buds.\n\nAlthough often said, agapanthus don't actually flower better when pot-bound. It's true they like to be cosy in their pot, flowering poorly when overpotted or over-divided, but they also flower poorly when excessively pot-bound. So do try repotting every two or three years, plus watering and feeding in spring, to improve flowering. \n\nToo much shade, cold weather and lack of winter protection are also common reasons for agapanthus to fail to flower.\n\nToo much winter warmth may lead to early flowering, but the flower quality will be poor.</p>
				  </div>

			</div>

			<!-- Feedback -->
			<img src="images/feedback.png" id="feedback_icon" onclick="open_modal('feedback_modal',6)">

			<div id="feedback_modal" class="modal">

				<div class="modal-content">
					<span class="close">&times;</span>
					<h2>Give us your feedback!</h2>

					<form name="submit-to-google-sheet">
						<textarea id="feedback_content" name="feedback" maxlength="500" required></textarea>
						<button id="submit_btn" type="submit">Send</button>
					</form>
					<p id="response" style="display:none;font-size=20px;">Thanks for your feedback!</p>
				  </div>

			</div>

		</div>



		<script src="javascript/loader.js"></script>
		<script src="https://wzrd.in/standalone/formdata-polyfill"></script>
		<script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
		<script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script>

		<script src="javascript/submit_feedback.js"></script>

		<script>
			function open_modal(modal_id,span_id){
				var modal = document.getElementById(modal_id);
				var span = document.getElementsByClassName("close")[span_id]; // Get the <span> element that closes the modal

				// Open the modal when clicked
				modal.style.display = "block";

				// When the user clicks on <span> (x), close the modal
				span.onclick = function() {
					modal.style.display = "none";
				}

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
			}
		</script>
	</body>
</html>
