<!DOCTYPE>
<html>
	<head>
		<title>GreenUs</title>
		<link href="css/info.css" rel="stylesheet">
		<link href="css/feedback.css" rel="stylesheet">
		<link href="css/panel.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
		<link href="css/loader.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>

	<body>
		<!-- Panel -->
		<div id="panel">
			<div class="icon"><a href="/profile"><img src="images/avatar.jpg"></a></div>
			<div class="icon"><a href="/collection"><img src="images/icons/garden.png"></a></div>
			<div class="icon"><a href="/dictionary"><img src="images/icons/dictionary.png"></a></div>
			<div class="icon"><a href="weather.html"><img src="images/icons/weather.png"></a></div>
			<div class="icon"><a href="news.html"><img src="images/news.png"></a></div>
		</div>

		<div id="loader"></div>

		<div id="content">
			<!-- Image -->
			<div id="image_box">
				<div id="photo"><img src="https://www.florablom.com/media/catalog/product/cache/4/image/9df78eab33525d08d6e5fb8d27136e95/1/5/1510667600agastache_blue_boa_tuincentrum_koeman_1/giant-anise-hyssop-%E2%80%98blue-boa%E2%80%99-(agastache).jpg"></div>
				<div id="frame"></div>
			</div>

			<!-- Info Box -->
			<div id="info">
				<!-- Name -->
				<div id="common_name">Agastache</div>

				<!-- Info -->
				<div class="feature">
					<div class="feature_names">Other name(s):</div>
					<div id="name">anise hyssop, giant hyssop, Korean mint</div>
				</div>

				<div class="feature">
					<div class="feature_names">Type:</div>
					<div id="type">Herb</div>
				</div>

				<div class="feature">
					<div class="feature_names">Difficulty:</div>
					<div id="difficulty">Easy</div>
				</div>

				<div class="feature">
					<div class="feature_names">Planting time:</div>
					<div id="plant_time">Autumn or Spring</div>
				</div>

				<div class="feature">
					<div class="feature_names">Meaning:</div>
					<div id="meaning">Agastache is symbolic of Sacrifice, Cleanliness, Purification and Protection</div>
				</div>
			</div>

			<a href="agastache2.html"><img src="images/down-arrow.png" id="down_arrow"></a>

			<!-- Feedback -->
			<img src="images/feedback.png" id="feedback_icon" onclick="open_modal('feedback_modal')">

			<div id="feedback_modal" class="modal">

				<div class="modal-content">
					<span class="close">&times;</span>
					<h2>Give us your feedback!</h2>

					<form name="submit-to-google-sheet">
						<textarea id="feedback_content" name="feedback" maxlength="500" required></textarea>
						<button id="submit_btn" type="submit">Send</button>
					</form>
					<p id="response" style="display:none;font-size=20px;">Thanks for your feedback!</p>
				</div>

			</div>
		</div>

		<script src="javascript/loader.js"></script>
		<script src="https://wzrd.in/standalone/formdata-polyfill"></script>
		<script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
		<script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script>

		<script src="javascript/submit_feedback.js"></script>
		<script src="javascript/feedback_modal.js"></script>
	</body>
</html>
